/*********** header section **************/
.header {
  display: flex;
  justify-content: space-between;
  align-items: center;
  background-color: var(--tint);

  /* Because we want header to be sticky later */
  height: 9.6rem;
  padding: 0 4.8rem;
}

.logo {
  height: 2.2rem;
}

/********** navigation ***********/

.main-nav-list {
  list-style: none;
  display: flex;
  align-items: center;
  gap: 3.2rem;
}

.main-nav-link:link,
.main-nav-link:visited {
  display: inline-block;
  color: var(--gray-dark);
  font-size: 1.8rem;
  font-weight: 500;
  transition: all 0.3s;
}

.main-nav-link:active,
.main-nav-link:hover {
  color: var(--shade);
}

.main-nav-link.nav-cta:link,
.main-nav-link.nav-cta:visited {
  color: var(--white);
  padding: 1.2rem 2.4rem;
  background-color: var(--main);
  border-radius: 10px;
}

.main-nav-link.nav-cta:active,
.main-nav-link.nav-cta:hover {
  background-color: var(--shade);
}
/*********** hero section **************/

.section-hero {
  background: var(--tint);
  padding: 4.8rem 0 9.6rem 0;
}

.hero {
  max-width: 130rem;
  margin: 0 auto;
  padding: 0 3.2rem;
  display: grid;
  grid-template-columns: 1fr 1fr;
  align-items: center;
  gap: 9.6rem;
}

.hero-description {
  font-size: 2rem;
  line-height: 1.5;
  margin-bottom: 4.8rem;
}

.hero-img {
  width: 100%;
}

.delivered {
  display: flex;
  align-items: center;
  gap: 1.6rem;
  /* flex-wrap: wrap; */
  margin-top: 8rem;
}

.delivered-imgs {
  display: flex;
  /* flex: 1 1 1.9rem; */
}

.delivered-imgs img {
  width: 4.8rem;
  height: 4.8rem;
  margin-right: -1.6rem;
  border-radius: 50%;
  border: 3px solid var(--tint);
}

.delivered-imgs img:last-child {
  margin-right: 0;
}
.delivered-text {
  font-size: 1.8rem;
  font-weight: 600;
}

.delivered-text span {
  color: var(--main);
  font-weight: 700;
}

/*********** how it works  section **************/
.section-how {
  padding: 9.6rem 0;
}
.step-number {
  font-size: 8.6rem;
  font-weight: 700;
  color: var(--gray-light);
  margin-bottom: 1.2rem;
}
.step-description {
  font-size: 1.8rem;
  line-height: 1.6;
}

.step-img-box {
  display: flex;
  justify-content: center;
  align-items: center;
  position: relative;
}

.step-img-box::before,
.step-img-box::after {
  content: "";
  border-radius: 50%;
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
}

.step-img-box::before {
  width: 60%;
  padding-bottom: 60%;
  background-color: var(--tint);
  z-index: -2;
}

.step-img-box::after {
  width: 45%;
  padding-bottom: 45%;
  background-color: #fae5d3;
  z-index: -1;
}
.step-img {
  width: 35%;
}
