/*********** header section **************/
.header {
  display: flex;
  justify-content: space-between;
  align-items: center;
  background-color: var(--tint-90);

  /* Because we want header to be sticky later */
  height: 9.6rem;
  padding: 0 4.8rem;
  position: relative;
}

.logo {
  height: 2.2rem;
}

/********** navigation ***********/

.main-nav-list {
  list-style: none;
  display: flex;
  align-items: center;
  gap: 4.8rem;
}

.main-nav-link:link,
.main-nav-link:visited {
  display: inline-block;
  color: var(--gray-dark);
  font-size: 1.8rem;
  font-weight: 500;
  transition: all 0.3s;
}

.main-nav-link:active,
.main-nav-link:hover {
  color: var(--shade-10);
}

.main-nav-link.nav-cta:link,
.main-nav-link.nav-cta:visited {
  color: var(--white);
  padding: 1.2rem 2.4rem;
  background-color: var(--main);
  border-radius: 10px;
}

.main-nav-link.nav-cta:active,
.main-nav-link.nav-cta:hover {
  background-color: var(--shade-10);
}

/*********** mobile navigation ***************/

.btn-mobile-nav {
  border: none;
  background: none;
  cursor: pointer;
  display: none;
}

.btn-mobile-nav ion-icon {
  width: 4.8rem;
  height: 4.8rem;
  color: var(--gray-dark);
}

.icon-nav-close {
  display: none;
}

.nav-open .icon-nav-close {
  display: block;
}
.nav-open .icon-nav-close {
  display: block;
}

/*********** sticky navigation **************/
.sticky .header {
  position: fixed;
  top: 0;
  bottom: 0;
  width: 100%;
  height: 8rem;
  padding-top: 0;
  padding-bottom: 0;
  background-color: rgba(255, 255, 255, 0.97);
  z-index: 999;
  box-shadow: 0 1.2rem 3.2rem rgba(0, 0, 0, 0.03);
}

.sticky .section-hero {
  margin-top: 9.6rem;
}

/*********** hero section **************/

.section-hero {
  background: var(--tint-90);
  padding: 4.8rem 0 9.6rem 0;
}

.hero {
  max-width: 130rem;
  margin: 0 auto;
  padding: 0 3.2rem;
  display: grid;
  grid-template-columns: repeat(2, 1fr);
  align-items: center;
  gap: 9.6rem;
}

.hero-description {
  font-size: 2rem;
  line-height: 1.5;
  margin-bottom: 4.8rem;
}

.hero-img {
  width: 100%;
}

.delivered {
  display: flex;
  align-items: center;
  gap: 1.6rem;
  margin-top: 8rem;
}

.delivered-imgs {
  display: flex;
}

.delivered-imgs img {
  width: 4.8rem;
  height: 4.8rem;
  margin-right: -1.6rem;
  border-radius: 50%;
  border: 3px solid var(--tint-90);
}

.delivered-imgs img:last-child {
  margin-right: 0;
}
.delivered-text {
  font-size: 1.8rem;
  font-weight: 600;
}

.delivered-text span {
  color: var(--main);
  font-weight: 700;
}
/***********  Featured in  section **************/
.section-featured {
  padding: 4.8rem 0 3.2rem 0;
}

.heading-featured {
  font-size: 1.4rem;
  text-transform: uppercase;
  letter-spacing: 0.75px;
  font-weight: 500;
  text-align: center;
  margin-bottom: 2.4rem;
  color: var(--gray-light);
}

.featured-logos {
  display: flex;
  justify-content: space-around;
}

.featured-logos img {
  height: 3.2rem;
  filter: brightness(0);
  opacity: 50%;
}

/*********** how it works  section **************/
.section-how {
  padding: 9.6rem 0;
}
.step-number {
  font-size: 8.6rem;
  font-weight: 700;
  color: var(--gray-weak);
  margin-bottom: 1.2rem;
}
.step-description {
  font-size: 1.8rem;
  line-height: 1.6;
}

.step-img-box {
  display: flex;
  justify-content: center;
  align-items: center;
  position: relative;
}

.step-img-box::before,
.step-img-box::after {
  content: "";
  border-radius: 50%;
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
}

.step-img-box::before {
  width: 60%;
  padding-bottom: 60%;
  background-color: var(--tint-90);
  z-index: -2;
}

.step-img-box::after {
  width: 45%;
  padding-bottom: 45%;
  background-color: var(--tint-80);
  z-index: -1;
}
.step-img {
  width: 35%;
}

/*********** meals section **************/

.section-meal {
  padding: 9.6rem 0;
}

.meal {
  box-shadow: 0 2.4rem 4.8rem rgba(0, 0, 0, 0.075);
  border-radius: 12px;
  overflow: hidden;
  transition: all 0.3s;
}

.meal:hover {
  transform: translateY(-1.2rem);
  box-shadow: 0 3.2rem 6.4rem rgba(0, 0, 0, 0.065);
}
.meal-content {
  padding: 3.2rem 4.8rem 4.8rem 4.8rem;
}

.meal-tags {
  margin-bottom: 1.2rem;
  display: flex;
  gap: 0.4rem;
}

.tag {
  display: inline-block;
  text-transform: uppercase;
  padding: 0.4rem 0.8rem;

  border-radius: 20px;
  color: var(--gray-dark);
  font-size: 1.2rem;
  font-weight: 600;
}

.tag--vegetarian {
  background-color: #94d82d;
}

.tag--vegan {
  background-color: #69db7c;
}

.tag--paleo {
  background-color: #fcc419;
}

.meal-name {
  font-size: 2.4rem;
  color: var(--gray-dark);
  font-weight: 600;
  margin-bottom: 3.2rem;
}

.meal-features {
  list-style: none;
  display: flex;
  flex-direction: column;
  gap: 2rem;
}

.meal-feature {
  font-size: 1.8rem;
  display: flex;
  gap: 1rem;
  align-items: center;
}

.meal-icon {
  color: var(--main);
  height: 2.4rem;
  width: 2.4rem;
}
.meal-img {
  width: 100%;
}

.all-receipes {
  text-align: center;
  font-size: 1.8rem;
}

/*********** testimonial section **************/
.section-testimonial {
  background-color: var(--tint-90);
  display: grid;
  grid-template-columns: 55fr 45fr;
  align-items: center;
}

.testimonial-box {
  padding: 9.6rem;
}

.testimonials {
  display: grid;
  grid-template-columns: 1fr 1fr;
  gap: 4.8rem 9.6rem;
}

.testimonial-img {
  width: 6.4rem;
  border-radius: 50%;
  margin-bottom: 1.2rem;
}

.testimonial-text {
  font-size: 1.8rem;
  line-height: 1.8;
  margin-bottom: 1.6rem;
}

.testimonial-name {
  font-size: 1.6rem;
  color: var(--gray-light);
}

.gallery {
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  gap: 1.6rem;
  padding: 1.6rem;
}

.gallery-item {
  overflow: hidden;
}

.gallery-item img {
  display: block;
  width: 100%;
  transition: all 0.3s;
}

.gallery-item:hover img {
  transform: scale(1.1);
}

/*********** pricing section **************/
.section-price {
  padding: 9.6rem 0;
}

.price-box {
  width: 74%;
  border-radius: 12px;
  transition: all 0.3s;
}
.price-standard {
  justify-self: end;
  border: solid 3px var(--tint-90);
  padding: 4.5rem;
}

.price-premium {
  background-color: var(--tint-90);
  padding: 4.8rem;
  position: relative;
  overflow: hidden;
}

.price-premium::before {
  content: "Best value";
  text-transform: uppercase;
  background-color: #fcc419;
  color: var(--gray-dark);
  font-size: 1.6rem;
  font-weight: 600;
  padding: 0.7rem 7rem;
  position: absolute;
  top: 6%;
  right: -18%;
  transform: rotate(45deg);
}

.price-box:hover {
  transform: translateY(-2rem);
}

.price-header {
  text-align: center;
  margin-bottom: 4.8rem;
}
.price-title {
  color: var(--shade-10);
  font-size: 2rem;
  font-weight: 600;
  text-transform: uppercase;
  letter-spacing: 0.75;
  margin-bottom: 3.2rem;
}
.price-amount {
  font-size: 6.2rem;
  font-weight: 600;
  color: var(--gray-dark);
  margin-bottom: 1.6rem;
}

.price-amount span {
  font-size: 3rem;
  font-weight: 500;
  margin-right: 0.8rem;
}
.price-note {
  font-size: 1.6rem;
  line-height: 1.6;
  color: var(--gray-light);
}

.price-signup {
  text-align: center;
  margin-top: 4.8rem;
}
.price-details {
  font-size: 1.6rem;
  line-height: 1.6;
  text-align: center;
}

/*********** feature section **************/

.feature-icon {
  font-size: 2.8rem;
  color: var(--main);
  display: inline-block;
  padding: 2rem;
  background-color: var(--tint-90);
  border-radius: 50%;
  margin-bottom: 3.2rem;
}
.feature-title {
  font-size: 2.4rem;
  font-weight: 700;
  color: var(--gray-dark);
  margin-bottom: 1.6rem;
}
.feature-description {
  font-size: 1.8rem;
  line-height: 1.8;
}

/*********** sign-up section **************/
.section-signup {
  padding: 4.8rem 0 12.6rem;
}
.signup {
  display: grid;
  grid-template-columns: 65fr 35fr;
  background-image: linear-gradient(
    to right bottom,
    var(--tint-20),
    var(--main)
  );
  box-shadow: 0 2.4rem 4.8rem rgba(0, 0, 0, 0.16);
  border-radius: 12px;
  overflow: hidden;
}

.signup-text-box {
  color: var(--shade-70);
  padding: 4.8rem 6.4rem 6.4rem 6.4rem;
}

.signup .heading-secondary {
  color: inherit;
  margin-bottom: 3.2rem;
}

.signup-text {
  font-size: 1.8rem;
  line-height: 1.8;
  margin-bottom: 4.8rem;
}

.signup-form {
  display: grid;
  grid-template-columns: repeat(2, 1fr);
  gap: 2.4rem 3.2rem;
}
.signup-form label {
  display: block;
  font-size: 1.6rem;
  font-weight: 500;
  margin-bottom: 1rem;
}
.signup-form input,
.signup-form select {
  width: 100%;
  font-size: 1.8rem;
  padding: 1.2rem;
  border-radius: 10px;
  font-family: inherit;
  color: inherit;
  background-color: var(--tint-90);
  border: none;
  box-shadow: 0 1px 2px rgba(0, 0, 0, 0.1);
}

.signup-form input::placeholder {
  color: var(--gray-light);
}

.signup-form button {
  border: none;
  cursor: pointer;
  font-family: inherit;
  background-color: var(--shade-70);
  color: var(--tint-90);
  align-self: end;
  padding: 1.2rem;
  transition: all 0.3s;
}

.signup-form button:hover {
  background-color: var(--white);
  color: var(--shade-70);
}
.signup-img-box {
  background-image: linear-gradient(
      to right bottom,
      var(--main-op),
      var(--main-op)
    ),
    url("../images/eating.jpg");
  background-size: cover;
  background-position: center;
}

/*********** footer section **************/

.footer {
  padding: 12.8rem 0;
  border-top: solid 1px #eee;
}

.grid--footer {
  grid-template-columns: 1.5fr 1.5fr 1fr 1fr 1fr;
}

.logo-box {
  display: flex;
  flex-direction: column;
}

.social-icons {
  display: flex;
  gap: 2.4rem;
}

.footer-logo {
  display: block;
  margin-bottom: 3.2rem;
}

.social-icon {
  width: 2.4rem;
  height: 2.4rem;
}

.copyright {
  font-size: 1.4rem;
  line-height: 1.4;
  margin-top: auto;
  color: var(--gray-medium);
}

.footer-heading {
  font-size: 1.8rem;
  font-weight: 500;
  color: var(--gray);
  margin-bottom: 4rem;
}

.contacts {
  font-style: normal;
  font-size: 1.6rem;
  line-height: 1.6;
  color: var(--gray-medium);
}

.address {
  margin-bottom: 2.4rem;
}

.footer ul {
  list-style: none;
}

.footer-links {
  display: flex;
  flex-direction: column;
  gap: 2.4rem;
}

.footer-link:link,
.footer-link:visited {
  font-size: 1.6rem;
  /* margin-bottom: 2.4rem; */
  color: var(--gray-medium);
  transition: all 0.3s;
}

.footer-link:hover,
.footer-link:active {
  color: var(--gray);
}

/* 


.social-icons li{
  display:inline-block;
}


 */
